
html {
    font-size: 10px;
}

@media only screen and (max-width: 500px){
    html {
        font-size: 9px;
    }
}

body {
    width: 100%;
}

h1 {
    font-family: sans-serif;
    font-size: 225%;
}

ol {
    list-style-type: decimal;
}

li {
    margin-left: 1.5em;
    padding-left: 0.5em;
}

span.icon {
    font-size: 30px;
}

.content, .image-cell-info {
    font-size: 10px; /* Restore the font size because it gets set to 0 by some containers. */
}

.description-container {
    background-color: rgb(53, 50, 48);
    border-radius: 0 0 3px 3px;
    color: rgb(201, 200, 200);
    margin: 0 5px 0 5px;
    padding: 60px 0 0 0;
}

@media only screen and (max-width: 500px){
    .description-container {
        border-radius: 0 0 0 0;
        margin: initial;
    }
}

.description, .content, .footer {
    margin: 0 auto 0 auto;
    max-width: 800px;
    padding: 15px 10px;
}

@media only screen and (max-width: 500px){
    .description, .content, .footer {
        max-width: initial;
    }
}

.description {
    align-items: center;
    display: flex;
}

@media only screen and (max-width: 500px){
    .description {
        flex-direction: column;
    }
}

.description-image-column {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 20px 0 0;
}

@media only screen and (max-width: 500px){
    .description-image-column {
        margin: initial;
        width: 100%;
    }

    .description-image-container {
        text-align: center;
        width: 100%;
    }

    .description-image {
        margin: 0 auto;
        min-width: 150px;
        max-width: 250px;
        width: 50%;
    }
}

.description-image-column p {
    flex: 1;
}

.description-text {
    margin: 0 0 0 20px;
}

.description p {
    font-family: "Yrsa", serif;
    font-size: 1.9em;
    line-height: 1.2;
}

@media only screen and (max-width: 500px){
    .description-text {
        margin: 20px 0 0 0;
        text-align: justify; 
    }
}

@media only screen and (max-width: 500px){
    .description-text p {
        font-size: 2.05em;
    }
}

.detail-spacer {
    align-items: flex-end;
    display: flex;
    flex: 30px;
}

#detail, p.detail {
    font-size: 12pt;
}

.description-image-column .detail-spacer + .detail-spacer {
    align-items: flex-start;
}

.content {
    align-items: center;
    display: none;
}

.content h1, .content h2 , .content p, .image-cell-info-container {
    font-family: "Karla", sans-serif;
    letter-spacing: -1px;
    line-height: 1.4;
}

.content h1 {
    font-size: 2.6em;
}

.content h2 {
    font-size: 2.1em;
    font-style: italic;
}

.content p {
    font-size: 1.8em;
    letter-spacing: -0.5px;
    line-height: 1.4;
}

.content p + p {
    margin: 20px 0 0 0;
}

.content section + section {
    margin: 30px 0 0 0;
}

.content h1 + h2 {
    margin: -5px 0 2px 0;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer a:link, .footer a:visited {
    color: rgb(53, 50, 48);
}

.footer a + a {
    margin: 0 0 0 40px;
}

.menu-container {
    background-color: white;
    box-sizing: border-box;
    height: 40px;
    justify-content: flex-end;
    left: 0;
    opacity: 1;
    padding: 0 10px;
    position: fixed;
    right: 0;
    top: 0;
    transition: transform 200ms ease-in-out, opacity 150ms 50ms ease-in-out;
}

.menu {
    align-items: center;
    display: flex;
    height: 100%;
    margin: 0 auto 15px auto;
    max-width: 800px;
    padding: 0 10px;
}

@media only screen and (max-width: 500px){
    .menu {
        padding: 0;
    }
}

.menu-container.hidden {
    opacity: 0;
    transform: translateY(-60px);
}

.menu-container a:link, .menu-container a:visited, .menu-container .item.text {
    color: rgb(53, 50, 48);
}

.menu-container .item + .item {
    margin: 0 0 0 20px;
}

.menu-container .item.text {
    font-family: "Karla", sans-serif;
    font-size: 12pt;
    letter-spacing: -0.5px;
}

.menu-container .item:first-child {
    color: black;
    flex: 1;
    font-size: 2.7em;
}

@media only screen and (max-width: 400px){
    .menu-container .item:first-child {
        font-size: 2.2em;
    }
}

.menu-container .item:last-child {
    color: black;
    margin-left: 40px;
}

@media only screen and (max-width: 500px){
    .menu a.item {
        display: none;
    }
}

.image-cell-container {
    display: inline-block;
    font-size: 0; /* Remove inline block trailing space. */
    position: relative;
}

.image-collection-wrapper {
    width: 100%;
}

#image-collection {
    margin: 0 auto 0 auto;
    min-width: 800px;
    width: 800px;
}

.image-cell {
    width: 100%;
}

.image-cell:hover {
    cursor: pointer;
}

.image-cell-info-overlay {
    background-color: #FFFFFF00;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.image-cell-info-overlay:hover {
    cursor: pointer;
}

.image-cell-info-overlay:hover > .image-cell-info-container {
    opacity: 1;
}

.image-cell-info-container {
    background-color: #777777CC;
    bottom: 0;
    display: block;
    left: 0;
    margin: 0;
    opacity: 0;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
}

.image-cell-info {
    color: white;
    position: relative;
}
